

/* To help mobile devices */
html, body {
	max-width: 100%;
	overflow-x: hidden;
  }


/* Full page background */
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('../img/bg.jpg'); 
    background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
  }
  


  @media (max-width:800px) {
    img#optionalstuff {
      display: none;
    }
  }

/* Typewriter CSS */

  .typewriter {
    font-family: Courier, monospace;
	display: inline-block;

}

.typewriter-text {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 8s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 15px;
    font-weight: 700;
    border-right: 4px solid orange;
    box-sizing: border-box;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: orange; 
    }
}


/* Helper classes */

.cta-button {  
   
    padding: 10px 35px;
    background-color:black;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    transition: 0.3s;
    font-family: 'Noto Sans', sans-serif;

}


.cta-button:hover {
    background: #383737;
    transition: 0.3s;
}




.second{
    padding:40px;
}


/* Reset Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Baloo', cursive;

}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

:focus {
	outline: 0;
}
/* Reset END */


/* General Styles */
body {
	position: relative;
	max-width: 1920px;
	margin: 0 auto;
	line-height: 1.3;
	font-family: Roboto, sans-serif;
	
}

[class$='--flex'] {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

/* Flexbox Backup for IE9+ */
.no-flexbox [class$='--flex'] {
	margin: 0 auto;
	text-align: center;
}

.no-flexbox [class$='--flex']::after {
	content: "";
	clear: both;
	display: table;
}

.no-flexbox [class$='--flex'] .menu__item,
.no-flexbox .footer__profiles .profile__link {
	display: inline-block;
}

.no-flexbox .project-preview {
	float: left;
}

.no-flexbox .project-preview__description {
	padding-top: 8%;
}

.no-flexbox .project-preview:first-of-type .project-preview__description {
	padding-top: 15%;
}

.no-flexbox .contacts__content__item,
.no-flexbox .footer__copyright,
.no-flexbox .footer__profiles {
	display: inline-block;
	width: 49%;
}
/* End Flexbox Backup */

section,
.header__main,
.footer__main {
	padding-right: .5rem;
	padding-left: .5rem;
}

section {
	padding-top: 3rem;
	padding-bottom: 2rem;
}




img {
	width: 100%;
	height: auto;
}




/* My Projects - Section-1 Styles */
.my-projects {
	position: relative;
	padding-top: 2.5rem;
	
}

.my-projects__title {
	padding-bottom: 1rem;
}

.project-preview {
	position: relative;
	width: 33.33%;
	transition: all .25s ease;
}

.project-preview img {
	height: 100%;
}

.project-preview__description {
	position: absolute;
	z-index: -1;
	visibility: hidden;
	overflow: hidden;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	transition: all .5s ease;
}

.description--flex {
	flex-flow: column nowrap;
}

.project-preview__description li {
	visibility: hidden;
	overflow: hidden;
	padding: .5rem .4rem;
	font-size: 1.5rem;
	font-weight: 400;
	transform: scale(1.1);
	transform-origin: center;
	transition: all .15s ease;
}

.project-preview__description li a,
.project-preview__description li a:visited {
	color: #fff;
}

.project-preview:hover .project-preview__description,
.project-preview:focus .project-preview__description {
	z-index: 1;
	visibility: visible;
	background: rgba(187, 187, 187, .9);
}

.project-preview:hover .project-preview__description li,
.project-preview:focus .project-preview__description li {
	visibility: visible;
	transform: scale(1);
}

 /* Social Buttons*/


 a.btn-social,
 .btn-social
 {
	 border-radius: 50%;
	 color: #ffffff !important;
	 display: inline-block;
	 height: 54px;
	 line-height: 54px;
	 margin: 8px 4px;
	 text-align: center;
	 text-decoration: none;
	 transition: background-color .3s;
	 webkit-transition: background-color .3s;
	 width: 54px;
 }
 
 .btn-social .fa,.btn-social i
 {
	 backface-visibility: hidden;
	 moz-backface-visibility: hidden;
	 ms-transform: scale(1);
	 o-transform: scale(1);
	 transform: scale(1);
	 transition: all .25s;
	 webkit-backface-visibility: hidden;
	 webkit-transform: scale(1);
	 webkit-transition: all .25s;
 }
 .btn-social:hover,.btn-social:focus
 {
	 color: #fff;
	 outline: none;
	 text-decoration: none;
 }
 .btn-social:hover .fa,.btn-social:focus .fa,.btn-social:hover i,.btn-social:focus i
 {
	 ms-transform: scale(1.3);
	 o-transform: scale(1.3);
	 transform: scale(1.3);
	 webkit-transform: scale(1.3);
 }
 .btn-social.btn-xs
 {
	 font-size: 9px;
	 height: 24px;
	 line-height: 13px;
	 margin: 6px 2px;
	 width: 24px;
 }
 .btn-social.btn-sm
 {
	 font-size: 13px;
	 height: 36px;
	 line-height: 18px;
	 margin: 6px 2px;
	 width: 36px;
 }
 .btn-social.btn-lg
 {
	 font-size: 22px;
	 height: 72px;
	 line-height: 40px;
	 margin: 10px 6px;
	 width: 72px;
 }
 
 
 
 .btn-codepen
 {
	 background-color: black;
 }
 .btn-codepen:hover
 {
	 background-color: #a9e8ff;
 }
 
 .btn-github
 {
	 background-color:black;
 }
 .btn-github:hover
 {
	 background-color: #689cd0;
 }
 .btn-google-plus
 {
	 background-color: black;
 }
 .btn-google-plus:hover
 {
	 background-color: #e47365;
 }
 
 
 .btn-linkedin
 {
	 background-color: black;
 }
 .btn-linkedin:hover
 {
	 background-color: #0b96e5;
 }
 
 
 
 
 .btn-stack-overflow
 {
	 background-color: black;
 }
 .btn-stack-overflow:hover
 {
	 background-color: #fe9748;
 }
 
 
 .forever {
margin-right:2000px;
 }
 


 .navbar-inner {
    background:transparent;
}

#About p {
	font-weight:5000; 
}